@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
}

td, th {
    padding: 1vw;
    border: 0.1vw solid black;
}

button {
    margin: 0.2vw;
}

p.footer {
    color: gray;
}

img.github {
    width: 3vw;
}

th.complete { background-color: #e3ffe7 }
th.incomplete { background-color: #ffffff }
th.today { background-color: #ffe2c9 }
th.overdue { background-color: #ffd5d1 }